body {
    background-image: linear-gradient( to right, #1C6A9E, #1FA4A9, #7DB9CC);
    display: flex;
    justify-content: center;
    align-itens: flex-start;
    padding-top: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

.caixa {
    background-color: white;
    border-radius: 10px;
    padding: auto;
    max-width: 500px;
    margin: auto;
    box-shadow: gray;
    align-content: center;
}
