body{
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
}
h1{ 
    background-color: bisque;
    color:black;
    font-size: 2em;
}
h2{
    background-color: bisque;
    color:blue;
    font-size: 1.25em;
}
