body{
    margin:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: linear-gradient(to right,#1C6A9E, #1FA4A9, #7DB9CC);
}
.container{
    display: flex;
    justify-content: space-around;
    padding: 50px;
}
.box{
    background: white;
    padding: 20px;
    width: 300px;
    border-radius: 10px;
    box-shadow: 0px 10px 25pxrgba(0, 0, 0, 0.2);
}
/* LINKS */
/* cor padrão */
a{
    color: black;
    text-decoration: none;
}
/* passar o mouse */
a:hover{
    color:#1FA4A9;
}
/* clicando */
a:active{
    color: red;
}
/* link visitando */
a:visited{
    color: purple;
}
/* antes do link*/
a::before{
    content:"&#127925";
}
/* depois do link */
a::after{
    content: "&#127925";
}
