body {
    background: linear-gradient(to right, #e0f7fa, #fce4ec);
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin: 40px;
    padding: 0;
}

a {
    text-decoration: none;
    color: black;
}

/* Exercício 1 */
.hcontainer {
    display: flex;
    background-color: rgba(132, 93, 136, 0.432);
    gap: 20px;
    flex-direction: column;
    border: 1px solid lightgray;
    margin: 5px;
    padding: 40px;
    justify-content: center;
    align-items: center;  
}

.hcontainer h1 {
    font-size: 40px;
    margin: 0;
}

.hcontainer h2 {
    font-size: 24px;
    margin: 0;
}

/* Conteúdo principal */
.conteudo {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Exercício 2 */
.container {
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
}

.container article,
.container2 article {
    font-size: 16px;
    line-height: 1.6;
}

.container .item1,
.container .item2,
.container .item3 {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Hover + traço embaixo */
.container .item1:hover,
.container .item2:hover,
.container .item3:hover {
    text-decoration: underline;
}

.container .item1:hover {
    background-color: aquamarine;
}

.container .item2:hover {
    background-color: pink;
}

.container .item3:hover {
    background-color: plum;
}

/* Exercício 3 */
.container2 {
    display: flex;

    /* Exercício 4 */
    justify-content: flex-end;

    gap: 10px;
}

.container2 .item1,
.container2 .item2,
.container2 .item4,
.container2 .item5 {
    flex-grow: 1;
    padding: 20px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* terceiro item cresce 2x */
.container2 .item3 {
    flex-grow: 2;
    padding: 20px;
    border: 1px solid #ccc;
    transition: 0.3s;
}

/* Hover */
.container2 .item1:hover {
    background-color: cadetblue;
}

.container2 .item2:hover {
    background-color: thistle;
}

.container2 .item3:hover {
    background-color: skyblue;
}

.container2 .item4:hover {
    background-color: peachpuff;
}

.container2 .item5:hover {
    background-color: mistyrose;
}

/* Clique */
.container2 .item1:active {
    background-color: darkcyan;
}

.container2 .item2:active {
    background-color: darkkhaki;
}

.container2 .item3:active {
    background-color: darksalmon;
}

.container2 .item4:active {
    background-color: hotpink;
}

.container2 .item5:active {
    background-color: wheat;
}
